body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#target{
    width: 100%;
    display: flex;
    justify-content: center;
}

td {
    border-style: solid;
    border-radius: 2px;
    padding: 1em;
    font-size: x-large;
}

.hidden {
    visibility: hidden;
}
