h1 {
    text-align: center;
}



#target{
    width: 100%;
    display: flex;
    justify-content: center;
}

td {
    border-style: solid;
    border-radius: 2px;
    padding: 1em;
    font-size: x-large;
}

.hidden {
    visibility: hidden;
}

.revealed {
    visibility : visible;
}

.catched {
    visibility: visible;
}


h3{
    text-align: center;
}

